Data Analysis
Pandas (Python Data Analysis Library)

Material from:
https://www.learndatasci.com/tutorials/python-pandas-tutorial-complete-introduction-for-beginners/

In [1]:
!pip install pandas
!pip install pysqlite3

Requirement already satisfied: pandas in c:\program files\python310\lib\site-packages (1.5.2)
Requirement already satisfied: pytz>=2020.1 in c:\program files\python310\lib\site-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in c:\program files\python310\lib\site-packages (from pandas) (1.24.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\program files\python310\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\program files\python310\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Collecting pysqlite3
  Using cached pysqlite3-0.5.0.tar.gz (40 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Installing collected packages: pysqlite3
  Running setup.py install for pysqlite3: started
  Running setup.py install for pysqlite3: finished with status 'error'

  DEPRECATION: pysqlite3 is being installed using the legacy 'setup.py install' method, because it does not have a 'pyproject.toml' and the 'wheel' package is not installed. pip 23.1 will enforce this behaviour change. A possible replacement is to enable the '--use-pep517' option. Discussion can be found at https://github.com/pypa/pip/issues/8559
  error: subprocess-exited-with-error

  Running setup.py install for pysqlite3 did not run successfully.
  exit code: 1

  [20 lines of output]
  running install
  C:\Program Files\Python310\lib\site-packages\setuptools\command\install.py:34: SetuptoolsDeprecationWarning: setup.py install is deprecated. Use build and pip and other standards-based tools.
    warnings.warn(
  running build
  running build_py
  creating build
  creating build\lib.win-amd64-cpython-310
  creating build\lib.win-amd64-cpython-310\pysqlite3
  copying pysqlite3\dbapi2.py -> build\lib.win-amd64-cpython-310\pysqlite3
  copying pysqlite3\__init__.py -> build\lib.win-amd64-cpython-310\pysqlite3
  running build_ext
  Builds a C extension linking against libsqlite3 library
  building 'pysqlite3._sqlite3' extension
  creating build\temp.win-amd64-cpython-310
  creating build\temp.win-amd64-cpython-310\Release
  creating build\temp.win-amd64-cpython-310\Release\src
  "C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\VC\Tools\MSVC\14.28.29910\bin\HostX86\x64\cl.exe" /c /nologo /O2 /W3 /GL /DNDEBUG /MD -DMODULE_NAME=\"pysqlite3.dbapi2\" -I/usr/include "-IC:\Program Files\Python310\include" "-IC:\Program Files\Python310\Include" "-IC:\Program Files (x86)\Microsoft Visual Studio\2019\Community\VC\Tools\MSVC\14.28.29910\include" "-IC:\Program Files (x86)\Windows Kits\10\include\10.0.19041.0\ucrt" "-IC:\Program Files (x86)\Windows Kits\10\include\10.0.19041.0\shared" "-IC:\Program Files (x86)\Windows Kits\10\include\10.0.19041.0\um" "-IC:\Program Files (x86)\Windows Kits\10\include\10.0.19041.0\winrt" "-IC:\Program Files (x86)\Windows Kits\10\include\10.0.19041.0\cppwinrt" /Tcsrc\blob.c /Fobuild\temp.win-amd64-cpython-310\Release\src\blob.obj
  blob.c
  C:\Users\pavlos.IONIA\AppData\Local\Temp\pip-install-p0w503pi\pysqlite3_82fd39718fe0448e8ee50721c810fb92\src\blob.h(4): fatal error C1083: Cannot open include file: 'sqlite3.h': No such file or directory
  error: command 'C:\\Program Files (x86)\\Microsoft Visual Studio\\2019\\Community\\VC\\Tools\\MSVC\\14.28.29910\\bin\\HostX86\\x64\\cl.exe' failed with exit code 2
  [end of output]

  note: This error originates from a subprocess, and is likely not a problem with pip.
error: legacy-install-failure

Encountered error while trying to install package.

pysqlite3

note: This is an issue with the package mentioned above, not pip.
hint: See above for output from the failure.

In [2]:
!python.exe -m pip install --upgrade pip

Requirement already satisfied: pip in c:\program files\python310\lib\site-packages (23.0)

In [3]:
import pandas as pd

A simple dataframe

In [4]:
data = {
    'apples': [3, 2, 0, 1], 
    'oranges': [0, 3, 7, 2]
}

In [5]:
purchases = pd.DataFrame(data)

In [6]:
purchases

   apples  oranges
0       3        0
1       2        3
2       0        7
3       1        2

In [7]:
purchases = pd.DataFrame(data, index=['June', 'Robert', 'Lily', 'David'])

In [8]:
purchases

        apples  oranges
June         3        0
Robert       2        3
Lily         0        7
David        1        2

In [9]:
purchases = pd.read_csv('purchases.csv')

In [10]:
purchases

  Unnamed: 0  apples  oranges
0       Mary       3        0
1     Robert       2        3
2      Lilly       0        7
3      David       1        2

In [11]:
purchases = pd.read_csv('purchases.csv', index_col=0)

In [12]:
purchases

        apples  oranges
Mary         3        0
Robert       2        3
Lilly        0        7
David        1        2

In [13]:
#purchases.to_csv('purchases.csv')

In [15]:
purchases.loc['Lilly']

apples     0
oranges    7
Name: Lilly, dtype: int64

In [ ]:
Reading data from files

In [ ]:
purchases.to_json('purchases.json')

In [ ]:
purchases = pd.read_json('purchases.json')

In [ ]:
purchases

Reading data from an SQl database

In [ ]:
import sqlite3

con = sqlite3.connect("database.db")

In [ ]:
purchases.to_sql('purchases', con)

In [ ]:
df = pd.read_sql_query("SELECT * FROM purchases", con)

In [ ]:
df

In [ ]:
df = df.set_index('index')

In [ ]:
df

In [ ]:
df = pd.read_sql_query("SELECT * FROM purchases", con, index_col='index')

In [ ]:
df

DataFrame operations

In [ ]:
movies_df = pd.read_csv("Pandas\Tutorial\IMDB-Movie-Data.csv", index_col="Title")

In [ ]:
movies_df.head()

In [ ]:
movies_df.head(2)

In [ ]:
movies_df.tail(2)

In [ ]:
print(purchases)

In [ ]:
movies_df.info()

In [ ]:
movies_df.shape

Handling duplicates

In [ ]:
temp_df = pd.concat([movies_df, movies_df])

In [ ]:
temp_df.shape

In [ ]:
temp_df = temp_df.drop_duplicates()

In [ ]:
temp_df.shape

In [ ]:
temp_df = pd.concat([movies_df, movies_df])

In [ ]:
temp_df.shape

In [ ]:
temp_df.drop_duplicates(inplace=True)

In [ ]:
temp_df.shape

In [ ]:
movies_df.columns

In [ ]:
movies_df.rename(columns={
        'Runtime (Minutes)': 'Runtime', 
        'Revenue (Millions)': 'Revenue_millions'
    }, inplace=True)

In [ ]:
movies_df.columns

In [ ]:
movies_df.columns = [col.lower() for col in movies_df]

In [ ]:
movies_df.columns

Missing Values

In [ ]:
movies_df.isnull()

In [ ]:
movies_df.isnull().sum()

In [ ]:
movies_df.dropna()

Imputation

In [ ]:
revenue = movies_df['revenue_millions']

In [ ]:
revenue.head()

In [ ]:
revenue_mean = revenue.mean()

In [ ]:
revenue.mean

In [ ]:
revenue.fillna(revenue_mean, inplace=True)

In [ ]:
movies_df.isnull().sum()

In [ ]:
movies_df.describe()

In [ ]:
movies_df['genre'].describe()

In [ ]:
movies_df['genre'].value_counts().head(10)

Relationships between continuous variables

In [ ]:
movies_df.corr(numeric_only=True)

DataFrame slicing, selecting, extracting

In [ ]:
genre_col = movies_df['genre']

In [ ]:
type(genre_col)

In [ ]:
genre_col = movies_df[['genre']]

In [ ]:
type(genre_col)

In [ ]:
subset = movies_df[['genre', 'rating']]

subset.head()

In [ ]:
prom = movies_df.loc["Prometheus"]

prom

In [ ]:
prom = movies_df.iloc[1]

prom

In [ ]:
movie_subset = movies_df.loc['Prometheus':'Sing']

movie_subset

In [ ]:
movie_subset = movies_df.iloc[1:4]

movie_subset

In [ ]:
condition = (movies_df['director'] == "Ridley Scott")

condition.head()

In [ ]:
movies_df[movies_df['director'] == "Ridley Scott"]

In [ ]:
movies_df[movies_df['rating'] >= 8.6].head(3)

In [ ]:
movies_df[(movies_df['director'] == 'Christopher Nolan') | (movies_df['director'] == 'Ridley Scott')].head()

In [ ]:
movies_df[movies_df['director'].isin(['Christopher Nolan', 'Ridley Scott'])].head()

In [ ]:
movies_df[
    ((movies_df['year'] >= 2005) & (movies_df['year'] <= 2010))
    & (movies_df['rating'] > 8.0)
    & (movies_df['revenue_millions'] < movies_df['revenue_millions'].quantile(0.25))
]

Applying Functions

In [ ]:
def rating_function(x):
    if x >= 8.0:
        return "good"
    else:
        return "bad"

In [ ]:
movies_df["rating_category"] = movies_df["rating"].apply(rating_function)

movies_df.head(2)

In [ ]:
movies_df["rating_category"] = movies_df["rating"].apply(lambda x: 'good' if x >= 8.0 else 'bad')

movies_df.head(2)

Plotting

For categorical variables utilize Bar Charts* and Boxplots.

For continuous variables utilize Histograms, Scatterplots, Line graphs, and Boxplots.

In [ ]:
movies_df.plot(kind='scatter', x='rating', y='revenue_millions', title='Revenue (millions) vs Rating');

In [ ]:
movies_df['rating'].plot(kind='hist', title='Rating');

In [ ]:
movies_df['rating'].describe()

In [ ]:
movies_df['rating'].plot(kind="box");

In [ ]:
movies_df.boxplot(column='revenue_millions', by='rating_category');

References
https://www.learndatasci.com/tutorials/python-pandas-tutorial-complete-introduction-for-beginners/